services:
  web:
    build: .
    container_name: protanki_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped

volumes:
  static_volume:
  media_volume: