{% extends 'protanki/../base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'information/tanks_info.css' %}" />
{% endblock %}
{% block scripts %}
<script src="{% static 'information/tanks_info.js'%}" defer></script>
{% endblock %}

{% block title %}Информация — ProTanki{% endblock %}

{% block content %}
<div class="container">
  <nav class="sidebar">
    <div class="block">
        <div class="background_img"></div>

      <ul class="nav-list">
        <li>
            <a href="#guns" style="font-size: 32px">Пушки:</a><br>
             &emsp;<a style="font-size: 20px" href="#guns-M0">М0</a><br>
             &emsp;<a style="font-size: 20px" href="#guns-M1">М1</a><br>
             &emsp;<a style="font-size: 20px" href="#guns-M2">М2</a><br>
             &emsp;<a style="font-size: 20px" href="#guns-M3">М3</a>
        </li>
        <li>
            <a href="#bodies" style="font-size: 32px">Копуса:</a><br>
             &emsp;<a style="font-size: 20px" href="#bodies-M0">М0</a><br>
             &emsp;<a style="font-size: 20px" href="#bodies-M1">М1</a><br>
             &emsp;<a style="font-size: 20px" href="#bodies-M2">М2</a><br>
             &emsp;<a style="font-size: 20px" href="#bodies-M3">М3</a>
        </li>
        <li><a href="#bodies" style="font-size: 27px">Особые корпуса</a></li>
        <li><a href="#bodies" style="font-size: 27px">Особые Пушки</a></li>
      </ul>
    </div>
  </nav>

  <main class="content">
    <h1 style="font-size: 50px" id="guns" class="anchor-target">Пушки</h1>
    <hr /><hr><br>
    {% for level, guns in guns_by_level.items %}
      <h2 id="guns-{{ level }}" class="anchor-target" style="color: #a0ffa0; margin-bottom: 15px">Уровень {{ level }}</h2><hr>
      {% if guns %}
        {% for gun in guns %}
          <div class="gun-card">
            <div class="gun-left">
              {% if gun.image %}
              <img class="gun-image" src="{{ gun.image.url }}" alt="{{ gun.name }}" />
              {% endif %}
            </div>

            <div class="gun-right">
              <h2 class="gun-name">{{ gun.name }}</h2>
              <p class="gun-information">{{ gun.information }}</p>

              <div class="gun-stats">
              <img
                class="gun-icon"
                src="{% static 'information/guns/img/gun.damage_minute.png ' %}"
                alt="н"
              />
              <span class="gun-label">Урон в минуту:</span>
              <span class="gun-value">{{ gun.damage_minute }}</span>
              <div class="gun-bar">
                <div class="stat-fill" style="width: {{ gun.dpm_percent }}%"></div>
              </div>
            </div>

            <div class="gun-stats">
              <img
                class="gun-icon"
                src="{% static 'information/guns/img/gun.damage_minute.png' %}"
                alt="н"
              />
              <span class="gun-label">Разовый урон:</span>
              <span class="gun-value">{{ gun.damage }}</span>
              <div class="gun-bar">
                <div
                  class="stat-fill"
                  style="width: {{ gun.damage_percent }}%"
                ></div>
              </div>
            </div>

            <div class="gun-stats">
              <img
                class="gun-icon"
                src="{% static 'information/guns/img/gun.recharge.png' %}"
                alt="н"
              />
              <span class="gun-label">Скорость перезарядки:</span>
              <span class="gun-value">{{ gun.recharge }}</span>
              <div class="gun-bar">
                <div
                  class="stat-fill"
                  style="width: {{ gun.recharge_percent }}%"
                  ></div>
              </div>
            </div>

            <div class="gun-stats">
              <img
                class="gun-icon"
                src="{% static 'information/guns/img/gun.range.png' %}"
                alt="н"
              />
              <span class="gun-label">дальность:</span>
              <span class="gun-value">{{ gun.range }}</span>
              <div class="gun-bar">
                <div
                  class="stat-fill"
                  style="width: {{ gun.range_percent }}%"
                ></div>
              </div>
            </div>

            <div class="gun-stats">
              <img
                class="gun-icon"
                src="{% static 'information/guns/img/gun.power.png' %}"
                alt="н"
              />
              <span class="gun-label">Сила удара:</span>
              <span class="gun-value">{{ gun.power }}</span>
              <div class="gun-bar">
                <div
                  class="stat-fill"
                  style="width: {{ gun.power_percent }}%"
                ></div>
              </div>
            </div>

            <div class="comments" data-gun="{{ gun.id }}">

    <h3>Комментарии:</h3>

    <div class="comments-list">
        {% for c in gun.comments.all %}
        <div class="comment" data-id="{{ c.id }}">
            <div class="comment-header">
                <b>{{ c.user.username }}</b>
                <span>{{ c.created_at|date:"d.m.Y H:i" }}</span>

                {% if c.user == user %}
                <button class="comment-delete" data-id="{{ c.id }}" data-type="gun">×</button>
                {% endif %}
            </div>
            <p>{{ c.text }}</p>
        </div>
        {% empty %}
        <p class="no-comments">Комментариев нет.</p>
        {% endfor %}
        </div>

        {% if user.is_authenticated %}
        <form class="comment-form" data-gun="{{ gun.id }}">
            {% csrf_token %}
            <textarea  name="text" placeholder="Написать комментарий..." required></textarea>
            <button type="submit">Отправить</button>
        </form>
        {% else %}
            <p class="login-msg">Войдите, чтобы оставить комментарий.</p>
        {% endif %}
    </div>

            {% if user.is_authenticated %}
                {% if gun.id in favorite_guns %}
                    <button class="favorite-toggle" title="Удалить из в избранного"
                            data-type="gun"
                            data-id="{{ gun.id }}"
                            data-action="remove">
                        <i class="bi bi-star-fill text-warning" style="font-size: 50px"></i>
                    </button>
                {% else %}
                    <button class="favorite-toggle" title="Добавить в избранное"
                            data-type="gun"
                            data-id="{{ gun.id }}"
                            data-action="add">
                        <i class="bi bi-star" style="font-size: 50px"></i>
                    </button>
                {% endif %}
            {% else %}
                <button class="favorite-toggle not-authenticated">
                   <i class="bi bi-star" style="font-size: 50px"></i>
                </button>
            {% endif %}
          </div>
          </div>
        {% endfor %}
        {% else %}
        <p>Нет данных о пушках для уровня {{ level }}</p>
      {% endif %}
    {% endfor %}


    <h1 style="font-size: 50px" id="bodies" class="anchor-target">Корпуса</h1>
    <hr /><hr><br>
    {% for level, bodies in bodies_by_level.items %}
      <h2  id="bodies-{{ level }}" class="anchor-target" style="color: #a0ffa0; margin-bottom: 10px" >Уровень {{ level }}</h2><hr>
      {% if bodies %}
        {% for body in bodies %}
          <div class="body-card">
            <div class="body-left">
              {% if body.image %}
              <img class="body-image" src="{{ body.image.url }}" alt="{{ body.name }}" />
              {% endif %}
            </div>

          <div class="body-right">
            <h2 class="body-name">{{ body.name }}</h2>
            <p class="body-information">{{ body.information }}</p>

            <div class="body-stats">
              <img
                class="body-icon"
                src="{% static 'information/bodies/img/body.armor.png ' %}"
                alt="н"
              />
              <span class="body-label">Броня:</span>
              <span class="gun-value">{{ body.armor }}</span>
              <div class="body-bar">
                <div class="stat-fill" style="width: {{ body.dpm_percent }}%"></div>
              </div>
            </div>

            <div class="body-stats">
              <img
                class="body-icon"
                src="{% static 'information/bodies/img/body.max_speed.png' %}"
                alt="н"
              />
              <span class="body-label">Максимальная скорость:</span>
              <span class="gun-value">{{ body.max_speed }}</span>
              <div class="body-bar">
                <div
                  class="stat-fill"
                  style="width: {{ body.damage_percent }}%"
                ></div>
              </div>
            </div>

            <div class="body-stats">
              <img
                class="body-icon"
                src="{% static 'information/bodies/img/body.turning_speed.png' %}"
                alt="н"
              />
              <span class="body-label">Скорость поворота:</span>
              <span class="gun-value">{{ body.turning_speed }}</span>
              <div class="body-bar">
                <div
                  class="stat-fill"
                  style="width: {{ body.recharge_percent }}%"
                ></div>
              </div>
            </div>

            <div class="body-stats">
              <img
                class="body-icon"
                src="{% static 'information/bodies/img/body.weight.png' %}"
                alt="н"
              />
              <span class="body-label">Масса:</span>
              <span class="gun-value">{{ body.weight }}</span>
              <div class="body-bar">
                <div
                  class="stat-fill"
                  style="width: {{ body.recharge_percent }}%"
                ></div>
              </div>
            </div>

            <div class="body-stats">
              <img
                class="body-icon"
                src="{% static 'information/bodies/img/body.power.png' %}"
                alt="н"
              />
              <span class="body-label">Мощность:</span>
              <span class="gun-value">{{ body.power }}</span>
              <div class="body-bar">
                <div
                  class="stat-fill"
                  style="width: {{ body.power_percent }}%"
                ></div>
              </div>
            </div>
            {% if user.is_authenticated %}
                {% if body.id in favorite_bodies %}
                    <button class="favorite-toggle" title="Удалить из избранного"
                            data-type="body"
                            data-id="{{ body.id }}"
                            data-action="remove">
                        <i class="bi bi-star-fill text-warning" style="font-size: 50px"></i>
                    </button>
                {% else %}
                    <button class="favorite-toggle" title="В избранное"
                            data-type="body"
                            data-id="{{ body.id }}"
                            data-action="add">
                        <i class="bi bi-star" style="font-size: 50px"></i>
                    </button>
                {% endif %}
            {% else %}
                <button class="favorite-toggle not-authenticated">
                    <i class="bi bi-star" style="font-size: 50px"></i>
                </button>
            {% endif %}
          </div>
          </div>
        {% endfor %}
        {% else %}a
        <p>Нет данных о корпусах для уровня {{ level }}</p>
      {% endif %}
    {% endfor %}
  </main>
</div>
{% endblock %}