.guns-stats,
.bodies-stats {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #2a2a2a;
  border-radius: 12px;
  padding: 10px 15px;
  position: relative;
  right: 330px;
  width: 120%;
  /*left: 55px;*/
}