* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #2e2e2e;
  color: #e0e0e0;
}

.container {
  display: flex;
  height: 100%;
}

/*Sidebar (1/4 экрана)*/
.sidebar {
  width: 25%;
  background-color: #4f4f4f;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.block {
  position: fixed;
  top: 100px;
  left: 80px;
  width: 300px;
  height: 600px;
  padding: 30px 25px;
  background: linear-gradient(145deg, #3a3a3a, #2a2a2a);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: all 0.3s ease;
}

.background_img {
  background-image: url("img/tanki.jpg");
  width: 120px;
  height: 120px;
  background-size: cover;
  position: fixed;
  left: 8.9%;
}


.nav-list {
  list-style: none;
}

.nav-list li {
  margin-bottom: 7px;
}

.nav-list a, .nav-list span {
  text-decoration: none;
  /*color: #d0ffd0;*/
  color: #72c2ff;
  font-size:17px;
  transition: color 0.2s ease;
  position: relative;
  top: 150px;
  /*white-space: nowrap;*/
}

.nav-list-gun {
  font-size: 1px;

}


.nav-list a:hover {
  color: #a0ffa0;
}

/* Content (3/4 экрана) */
.content {
  width: 75%;
  padding: 40px 20px 20px 40px;
  background-color: #4f4f4f;
}

.gun-image,
.body-image {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.gun-card,
.body-card {
  display: flex;
  gap: 30px;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  background: linear-gradient(145deg, #3a3a3a, #2a2a2a);

}

.gun-left,
.body-left {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gun-stats,
.body-stats {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #2a2a2a;
  border-radius: 12px;
  padding: 10px 15px;
  position: relative;
  right: 330px;
  width: 130%;
  /*left: 55px;*/
}

.gun-right,
.body-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gun-name,
.body-name {
  font-family: "Libre Baskerville", serif;
  font-size: 28px;
  text-align: start;
  color: #b8ffb8;
  margin-bottom: 15px;
}

.gun-row,
.body-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.gun-icon,
.body-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.gun-label,
.body-label {
  width: 180px;
  color: #d0ffd0;
  white-space: nowrap;
}

.gun-bar,
.body-bar {
  flex-grow: 1;
  height: 6px;
  background-color: #2e3b2e;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.stat-fill {
  background-color: #2ecc71;
  height: 100%;
  transition: width 0.3s ease;
  position: relative;
}

.gun-fill,
.body-fill {
  height: 100%;
  background-color: #72c2ff;
  transition: width 0.3s ease;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin-bottom: 15px;
}
.gun-information,
.body-information {
  max-width: 1000px;
  word-wrap: break-word;
  font-size: 20px;
  margin-right: 30px;
  margin-bottom: 25px;
  min-height: 150px;
}
.gun-value {
  color: #ffffff;
  padding: 0 20px;
  font-weight: bold;
  position: relative;
  width: 80px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #2e2e2e;
  color: #e0e0e0;
}

.container {
  height: 100%;
}

/*Sidebar (1/4 экрана)*/
.sidebar {
  width: 25%;
  background-color: #4f4f4f;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.background_img {
  background-image: url("img/tanki.jpg");
  width: 120px;
  height: 120px;
  background-size: cover;
  position: fixed;
  left: 8.9%;
}


.nav-list {
  list-style: none;
}

.nav-list li {
  margin-bottom: 7px;
}

.nav-list a, .nav-list span {
  text-decoration: none;
  color: #d0ffd0;
  font-size: 17px;
  transition: color 0.2s ease;
  position: relative;
  top: 150px;
  /*white-space: nowrap;*/
}


.nav-list a:hover {
  color: #a0ffa0;
}

/* Content (3/4 экрана) */
.content {
  width: 75%;
  padding: 40px 20px 20px 40px;
  background-color: #4f4f4f;
}

.gun-image,
.body-image {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.gun-card,
.body-card {
  position: relative;
  display: flex;
  gap: 30px;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  background: linear-gradient(145deg, #3a3a3a, #2a2a2a);

}

.gun-left,
.body-left {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gun-right,
.body-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gun-name,
.body-name {
  font-family: "Libre Baskerville", serif;
  font-size: 28px;
  text-align: start;
  color: #b8ffb8;
  margin-bottom: 15px;
}

.gun-row,
.body-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.gun-icon,
.body-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.gun-label,
.body-label {
  width: 180px;
  color: #d0ffd0;
  white-space: nowrap;
}

.gun-bar,
.body-bar {
  flex-grow: 1;
  height: 6px;
  background-color: #2e3b2e;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.stat-fill {
  background-color: #2ecc71;
  height: 100%;
  transition: width 0.3s ease;
  position: relative;
}

.gun-fill,
.body-fill {
  height: 100%;
  background-color: #72c2ff;
  transition: width 0.3s ease;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 45px;
  margin-bottom: 15px;
}
.gun-information,
.body-information {
  max-width: 1000px;
  word-wrap: break-word;
  font-size: 20px;
  margin-right: 30px;
  margin-bottom: 25px;
  min-height: 150px;
}
.gun-value {
  color: #ffffff;
  padding: 0 20px;
  font-weight: bold;
  position: relative;
  width: 80px;
}

.anchor-target {
  scroll-margin-top: 100px; /* отступ сверху при скролле */
}

.favorite-toggle {
  background-color: #313131 ;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;    /* Отступ сверху */
  right: 10px;  /* Отступ справа */
  cursor: pointer;
}

.favorite-toggle i.bi-star {
  color: white;  /* светлая звезда */
}
.favorite-toggle i.bi-star-fill {
  color: rgba(36, 186, 36, 0.71); /* заполненная */
}

.search-b {
  height: 3vh;

}

.search-i {
  height: 3vh;
  border-radius: 30px;
}

.comments {
    margin-top: 20px;
    padding: 15px;
    background: rgba(40, 40, 40, 0.5);
    border-radius: 12px;
    position: relative;
    right: 300px;
}

.comments h3 {
    margin-bottom: 10px;
    color: #a0ffa0;
}

.comment {
    background: rgba(20, 20, 20, 0.6);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 1000px;
}

.comment p {
   max-width: 100ch; /* Примерно 50 символов в строке */
   word-wrap: break-word;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.comment-delete {
    background: none;
    border: none;
    color: #ff6d6d;
    font-size: 20px;
    cursor: pointer;
}

.comment-delete:hover {
    color: red;
}

.comment-form textarea {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    resize: none;
    border: 1px solid #444;
}

.comment-form button {
    padding: 10px 14px;
    background: #a0ffa0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    position: static;
    display: block;
}

.comment-form button:hover {
    background: #7cff7c;
}


.comment-form textarea {
    width: 300px;
    height: 40px;
    font-size: 14px;
    padding: 6px;
    margin-top: 15px;
}

.comments-list {
  max-height: 150px ;
  position: relative;
  overflow-y: auto;
}





