
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ProTanki{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'protanki/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    {% block link %}{% endblock %}
</head>
<body>

<header>
    <nav>

        <a href="{% url 'index' %}" class="nav-link">
            <i class="bi bi-house-door-fill"></i> Главная
        </a>

        <a href="{% url 'about' %}" class="nav-link">
            <i class="bi bi-info-circle-fill"></i> О нас
        </a>

        <a href="#" class="nav-link">
            <i class="bi bi-envelope-fill"></i> Контакты
        </a>

    </nav>
</header>

<div class="background_img"></div>

 <main>
     {% block content %}{% endblock %}
</main>



<footer>
    © «ProTanki» 2021–2025
</footer>

</body>
</html>