{% extends "base.html" %}
{% block title %}Пароль изменён{% endblock %}

{% block content %}
<div style="max-width: 450px; margin: 50px auto; background: #2e2e2e; color: #f1f1f1;
            padding: 30px; border-radius: 12px; box-shadow: 0 0 10px rgba(0,0,0,0.5);">

    <h2 style="text-align:center; margin-bottom:20px;">Пароль изменён</h2>

    <p style="text-align:center;">
        Ваш пароль был успешно изменён. Теперь вы можете войти в аккаунт.
    </p>

    <div style="text-align:center; margin-top:10px;">
        <p><a href="{% url 'users/login' %}">Войти</a></p>
    </div>

</div>
{% endblock %}